.tracker {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 48.5%;
  background-color: white;
  height: 100px;
  margin: 10px;
}

.display {
  display: flex;
}

.unit-two {
  font-size: 0.5rem;
  color: grey;
  font-weight: bold;
}

.figure {
  font-size: 1.2rem;
  font-weight: bolder;
  color: grey;
  margin: 0;
}

.text-unit {
  font-size: 0.7rem;
  font-weight: bold;
  color: grey;
  margin: 0;
  padding: 0;
}
